extends layout

block content
  <h1>Sign up</h1>

  form(id='form' method='POST' action='/create' style='margin-left: 20px;')
    p Username:
      input(type='text' name='username' style='border-radius: 10px; background-color: #c1d0c9;')
    p Password:
      input(type='password' name='password' style='border-radius: 10px; background-color: #c1d0c9;')
    p Email:
      input(type='text' name='email' style='border-radius: 10px; background-color: #c1d0c9;')
    p Age:
      input(type='text' name='age' style='border-radius: 10px; background-color: #c1d0c9;')
    p Are you an only child?
      input(type='radio' name='question1' value='yes')
      label Yes
      input(type='radio' name='question1' value='no')
      label No
    p Is Christmas the best holiday?
      input(type='radio' name='question2' value='yes')
      label Yes
      input(type='radio' name='question2' value='no')
      label No
    p Do you put up the Christmas tree before Thanksgiving?
      input(type='radio' name='question3' value='yes')
      label Yes
      input(type='radio' name='question3' value='no')
      label No
    p 
      input(type='submit' value="Sign Up")
  table
    tr
      p Create An Avatar
      th
        p Select your eyes:
        td#eyes1.btn
        td#eyes2.btn
        td#eyes3.btn
        td#eyes4.btn
        td#eyes5.btn
        td#eyes6.btn
        td#eyes7.btn
        td#eyes9.btn
        td#eyes10.btn
    tr
      th
        p Select your nose:
        td#nose2.btn
        td#nose3.btn
        td#nose4.btn
        td#nose5.btn
        td#nose6.btn
        td#nose7.btn
        td#nose8.btn
        td#nose9.btn
    tr
      th
        p Select your mouth:
        td#mouth1.btn
        td#mouth3.btn
        td#mouth5.btn
        td#mouth6.btn
        td#mouth7.btn
        td#mouth9.btn
        td#mouth10.btn
        td#mouth11.btn
    tr
      th
        p Select your color:
        td#663399.btn
        td#D32208.btn
        td#0900E4.btn
        td#01A02F.btn
        td#757175.btn 
    tr
      img#avatarImage(src="https://api.adorable.io/avatars/face/eyes1/nose1/mouth1/757175")
    br
  script(src="/editAvatar.js")
      input(type='submit' value="Submit" style='text-align: center; width: 100px; background-color: #99434c; border-radius: 10px; color: white; font-family: monospace;')
  script(src="profile.js")
  
