
extends layout

block content
  img(src='/images/WebsiteBackground.jpg' alt='christmas' style='width: 1000px; height: 550px; float: right') 
  div(id="graphArea")
    h2 User Answers
    h3 Are you an only child?
    canvas(id="onlyChildGraph" width="500" height="300")
    h3 Is Christmas the best holiday?
    canvas(id="holidayGraph")
    h3 Do you put up the Christmas tree before Thanksgiving?
    canvas(id="treeGraph")

  script(src="home.js")
