
extends layout

block content
    img(src='/images/WebsiteBackground.jpg', alt='christmas' style='width: 1000px; height: 550px; float: right') 

  each item in user
    a(href='/details/' + item.id) Account Details
